fastapi
uvicorn[standard]
pydantic
python-dotenv
Jinja2
reportlab
wordcloud
Pillow
numpy
pandas
python-multipart
filetype
transformers
torch
grpcio
google-genai
requests
orjson
huggingface-hub==0.34.4